<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">best it - Shopware Bugsnag</label>
    <label lang="en">best it - Shopware Bugsnag</label>

    <version>1.0.0</version>
    <link>https://www.bestit-online.de</link>
    <author>best it GmbH &amp; Co. KG</author>
    <compatibility minVersion="5.4.0" />

    <changelog version="1.0.0">
        <changes lang="de">Initiale Veröffentlichung.</changes>
        <changes lang="en">Initial release.</changes>
    </changelog>
</plugin>