<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">best it - Shopware Bugsnag</label>
    <label lang="en">best it - Shopware Bugsnag</label>

    <version>1.2.0</version>
    <link>https://www.bestit.de</link>
    <author>best it AG</author>
    <compatibility minVersion="5.4.0" />

    <changelog version="1.2.0">
        <changes lang="de">Controller-Response-Exceptions hinzugefügt</changes>
        <changes lang="en">Controller-Response-Exceptions added</changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">Pluginversion mit tag version angeglichen</changes>
        <changes lang="en">Adjusted plugin version to tag version</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            Plugin an best it coding Standards angepasst.
            Grundlegende Refaktorierung der Struktur.
            Einstellung für Release States hinzugefügt.
        </changes>
        <changes lang="en">
            Plugin adjusted to best it coding standards.
            Refactoring of basic plugin structure.
            Added a configuration for release states.
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Initiale Veröffentlichung.</changes>
        <changes lang="en">Initial release.</changes>
    </changelog>
</plugin>
